.feed{
    flex:0.55;
    padding: 0 20px;
}
.feed__inputContainer{
    background-color: white;
    padding: 200px 0;
    border-radius: 40px;
    margin: 20px;
}
.feed__input{
    border: 2px solid lightgray;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
    color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feed__input > form{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.feed__input > form > input{
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
}
.feed__input > form > button{
    padding: 10px 0 10px 10px;
    color: grey;
    background-color: white;
    font-size: 16px;
    font-weight: 700;
    border: none;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    cursor: pointer;
    margin-left: 20px;
}
.feed__inputOptions{
    display: flex;
    justify-content: space-evenly;
}

@media screen and (min-width: 320px){
    .feed{
        margin: 0;
        width: 100%;
    }

    .feed__inputContainer{
        padding: 20px;
        padding-bottom: 20px;
        border-radius: 10px;
        margin: 12px;
    }

    .feed__input > form{
        justify-content: center; 
    }

    .feed__inputOptions{
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .feed__input > form > button{
        margin-right: 10%;
    }

    .post__container{
        margin: 0 2%;
    }
}
